.login-container{
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets//imagens/background-login.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}